.main-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  height: 90%;
  width: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  text-align: center;
}

.logo {
  height: 20%;
  width: 40%;
}

.btn {
  margin: 1em;
}