.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  background-color: rgb(17, 17, 19);
  padding: 0;
}

.options {
  position: absolute;
  height: 100%;
  width: 20%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid white;
}

.avatar-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 8rem;
  height: 8rem;
  margin: 1em;
}

h5 {
  color: rgb(165, 165, 165);
  text-align: center;
}

.artist-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  font-size: 1em;
}

.btn-container {
  padding: 1em;
}